<ion-view view-title="Contacts ({{numUsers}})">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="contact in contacts" type="item-text-wrap" href="#/tab/chat/{{contact.id}}">
        <img ng-src="{{contact.icon}}">
        <h2>{{contact.name}}</h2>
        <p>{{contact.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(contact)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
